header{
    background-color: white;

}
nav{

    font-size: 30px;
    
}
nav li{
    display: inline-flex;
    margin-left: 30%;
}
nav li:hover{
    
    font-size: 35px;
    transition: 0.5s;
}

body{
    
 background: linear-gradient(to bottom, peachpuff, pink);
     
}

h1{
    text-align: center;

}

.centro{
    text-align: center;
    font-family: cursive;
}
footer{
    background-color: white;
    text-align: center;
}



