body{
     background-color: rgb(252, 183, 204);

}

h1{
    text-align: center;

}

.centro{
    text-align: center;
    font-family: cursive;
}
footer{
    background-color: rgb(243, 141, 188);
}



