header{
    background-color: white;
}
body{
    
 background: linear-gradient(to bottom, peachpuff, pink);
     
}

h1{
    text-align: center;

}

.centro{
    text-align: center;
    font-family: cursive;
}
footer{
    background-color: white;
    text-align: center;
}



